@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Russo+One');


body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.png);
}

* {
	font-family: "PT Sans" , "Ubuntu";
}

a {
    color: white;
    text-decoration: none;
}

input:focus {
	outline: none;
}
input[type="submit"] {
	cursor: pointer;
}

.centered {
	text-align: center;
}

.header {
	margin: 0 auto;
	width: 100%;
	height: 100px;
	background: #760000;
}

.header-inner {
    margin: 0 auto;
    width: 960px;
    height: 100px;
    background: inherit;
}
.header h1 {
    color: white;
    float: left;
    margin-left: 28px;
}

.log-btn {
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: #760000;
}
.log-btn:focus {
    outline: none;
}
.log-btn:hover {
	border-bottom: 3px solid white;
}

.menu {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background: #760000;
}
.menu ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 960px;
    height: 40px;
}
.menu ul li {
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1em;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
}
.menu ul li:first-child { padding-left: 30px; }
.menu ul li a:hover { border-bottom: 3px solid white; }

.sl {
    margin: 0 auto;
    width: 960px;
    height: 250px;
}

#slider {
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 50px auto;
    width: 960px;
    height: 300px;
    border: 4px solid #760000;
    border-radius: 25px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 300px;
}

a.btn_prev, a.btn_next {
  position: absolute;
  top: 0;
  z-index: 2;
  display: block;
  padding: 15% 1%;
  height: 300px;
  background: none; 
  color:  rgba(255, 255, 255, .7);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
  background: #760000;
}

a.btn_next {
    right: 0;
}
a.btn_prev:focused, a.btn_next:focused { outline: none; }

.content {
    margin: 0 auto;
    width: 960px;
    min-height: 400px;
}

.maindiv {
    float: left;
    width: 74%;
    min-height: 300px;
    background: #252525;
    border-radius: 10px;
    min-height: 300px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 20px;
}

.maindiv ul {
    margin-top: 30px;
    list-style: none;
}

.maindiv ul li{
    display: block;
    color: black;
    height: 140px;
    width: 93%;
    margin-bottom: 20px;
}
.maindiv ul li:hover {
    background: rgba(96,195,255, .2);
}
.maindiv ul li a{
    color: rgb(96,195,255);
}
.maindiv ul li h2:hover {
    opacity: .8;
}

.news-content {
    margin-left: 20px;
    width: 90%;
    border: 1px solid yellow;
    border-radius: 15px;
    padding-left: 20px;
    margin-top: 20px;
}
.news-content h2 a {
    text-transform: uppercase;
    color: yellow;
}
.news-content p {
	color: white;
}


/* 
    @@@@ NEWS VIEW @@@@
*/


.news-view {
    width: 95%;
    height: 650px;
}
.news-view h1 {
    color: yellow;
    text-align: center;
}


.news-text {
    text-indent: 5%; 
    text-align: justify; 
    margin-left: 3%;
    color: white;
}

.news-view hr {
    background: none;
    border: 1px dashed yellow;
    margin-left: 3%;
}

.news-author {
    font-size: 0.8em;
    color: rgb(96,195,255);
    margin-left: 3%;
    float: left;
}
.news-date {
    float: right;
}

/*
    @@@@@@@@@@@@@@@@
*/


.sidebar {
    float: left;
    width: 21%;
    margin-left: 2%;
    background: #252525;
    border-radius: 10px;
    padding: 10px 0;
}

.sidebar ul li span {
	color: yellow;
}

.sidebar ul {
    margin: 0 auto;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
}
.sidebar ul li {
    height: 40px;
    width: 100%;
    cursor: pointer;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
}
.sidebar ul li:first-child { margin-top: 10px; }
.sidebar ul li a {
    color: yellow;
    font-size: .7em;
    text-transform: uppercase;
}
.sidebar ul li a:hover { color: #760000; }

.footer {
    clear: both;
    margin: 20px auto;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    background: #252525;
    border-bottom: 3px solid #760000;
}
.footer ul {
    display: inline-block;
    list-style: none;
}

.footer ul li:first-child {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(96,195,255);
    margin-bottom: 5px;
    font-size: 1.2em;
}

.footer ul li a {
    color: black;
    height: 30px;
    line-height: 30px;
}
.footer ul li a:hover {
    color: rgb(96,195,255);
}

.popup-login {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 3;
    background: rgba(0, 0, 0, .7);
}
.popup-form {
    position: relative;
    margin:0;
    width:400px;
    opacity: 1;
    height: 200px;
    background: #252525;
    left: 50%;
    top: 50%;
    margin-left:-210px;
    margin-top:-158px;
    padding-top: 40px;
    border: 2px solid #760000;
    padding-bottom: 30px;
}
.popup-form input {
    display: block;
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 30%;
    background: none;
    border: none;
    border: 1px solid #760000;
    text-align: center;
    line-height: 30px;
    font-family: "PT Sans";
    font-size: 1.1em;
    color: white;
}
.popup-form input:focus {
    outline: none;
}
.popup-form input[type="submit"] {
	border: none;
    background: white;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}
.popup-cancel, .popup-signup {
    width: 170px;
    height: 30px;
    background: rgba(153, 80, 88, 1);
    color: white;
    text-transform: uppercase;
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 1.1em;
    margin-left: 30%;
    cursor: pointer;
}

.popup-cancel {
	margin-top: 10px;
}

.popup-signup {
	background: yellow;
}
.popup-signup a {
	color: black;
}


.popup-cancel:focus {outline: none;}

.cpyrght {
    text-align: center;
    height: 30px;
    padding-top: 2px;
    color: yellow;
}

/* 
    PROFILE
*/

.profile-div {
    width: 960px;
    height: 500px;
    background: #f2f2f2;
    margin: 50px auto;
}

.profile-left-panel {
    width: 200px;
    height: 400px;
    float: left;
    margin: 50px;
}
.usr-photo {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(96,223,229);
}
.usr-info {
    width: 600px;
    height: 400px;
    float: left;
    margin-top: 30px;
}
.usr-info h3 {
    padding-left: 5%;
    text-transform: uppercase;
    color: black;
    background: rgb(96,223,229);
}
.ul-usrinfo {
    list-style: none;
    padding: 0;
}
.ul-usrinfo li {
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px dashed rgb(96,223,229);
}
.usr-you {
    color: orange;
    font-weight: bold;
}
.edit-profile-btn {
    width: 200px;
    height: 40px;
    background: rgba(204, 149, 44, 0.9);
    text-transform: uppercase;
    border: none;
    margin: 5% 1%;
    font-weight: bold;
    cursor: pointer;
}

/*
*/

.signup-form {
	width: 100%;
	text-align: center;
}

.signup-form input {
	width: 250px;
	display: block;
	margin: 20px 0;
	background: none;
	border: 1px solid #760000;
	color: white;
	padding: 10px;
	text-align: center;
	margin-left: 30%;
}

.signup-form input[type="submit"] {
	background: yellow;
	color: black;
	border: none;
	width: 270px;
}

.dropbtn {
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: #760000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border-bottom: 3px solid white;
}

.categories-div {
	width: 90%;
	margin: 0 auto;
	padding-top: 5px;
}

.category {
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
	border: 1px solid yellow;
	margin-bottom: 5px;
	height: 200px;
}
.category p {
	text-align: center;
	vertical-align: center;
	font-size: 1.5em;
	padding-top: 50px;
}

.category:hover {
	background: #760000;
	color: white;
}

.db_table {
	color: white;
	border: 1px solid white;
	width: 100%;
}

.db_table td {
	padding: 10px;
}

.category-head {
	text-transform: uppercase;
	text-align: center;
	color: #760000;
}

.category-head a {
	text-transform: lowercase;
	color: yellow;
	font-size: .6em;
}

textarea {
	display: block;
	background: none;
	border: 1px solid #760000;
	color: white;
	resize: none;
	margin-bottom: 20px;
}

textarea:focus {
	outline: none;
}

.intro_text {
	width: 100%;
	height: 100px;
}

.full_text {
	width: 100%;
	height: 300px;
}